.meet-julie {
    padding-top: 50px;
    padding-bottom: 50px;
}


.page-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid cornflowerblue;
}

.julie-headshot {
    //max-width: 400px;
}

.julie-info {
    padding-left: 3rem;
    
    p {
        font-size: 1.3rem;
        padding: 1rem;
    }
}