.social {
    padding-top: 100px;
    padding-bottom: 100px;
}

h3 {
    padding-bottom: 30px;
}

.office_hours {
    ul {
        font-size: 1.4rem;

        .hours {
            float: right;
            text-align: right;
            color: gray;
            font-weight: bold;
        }
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    
    .fb-page {
        width: 100%;
    }
}

