<div class="row main-page-content">
  <div class="col-sm-12 col-md-12 col-lg-6">
    <p>
      Main Street Chiropractic is located in Armada, Mi. We provide excellent
      chiropractic care for the whole family. We focus on our patients individual
      needs and symptoms to treat them and help them meet their goals and
      expectations of health.
    </p>
    <hr style="width: 80%;">
    <p class="center-text">
      <b>
        Now Accepting New Patients! Call Now: <br><a class="" href="tel:586-784-5770">(586)
          784-5470</a>
      </b>
      <br>
      <a href="#contactSection" class="btn btn-lg btn-primary mt-3">Book an Appointment Now</a>
    </p>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 text-center">
    <img src="assets/images/jpg/web pic.jpg" class="img-fluid" alt="Main Street Chiropractic Center PC">
  </div>
</div>

<hr style="width: 80%;">

<div class="row main-page-content">
  <div class="col-sm-12 col-md-12 col-lg-5 text-center">
    <!-- <img src="assets/images/jpg/blur-body-close-up.jpg" class="img-fluid" alt="Natural Massage Therapy"> -->
    <div class="resp-container">
      <iframe class="resp-iframe" src="https://player.vimeo.com/video/376037382" gesture="media" allow="encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-7">
    <p>
      Chiropractic has been around for over 100 years and is becoming the leading choice for people who are looking
      to treat symptoms naturally and without drugs or surgery. It is proven to be safe and effective for people of all
      ages.
    </p>
    <p>
      Main Street Chiropractic offers hands on chiropractic care and massage therapy to their patients.
      Dr. Julie is certified in prenatal and pediatric care and uses a variety of adjusting techniques including
      Diversified, Gonstead, Activator, Flexion Distraction and Palmer Package. These techniques help her focus on
      what is best for the patient. The office also carries doTERRA Essentail Oils and holds educational classes on
      oils and other health topics on a regular basis.
    </p>
  </div>
</div>