fa {
    font-size: 5rem;
    color: #e3e3e3;
}

.question {
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}

.answer {
    font-size: 1.7rem;
    margin: 1rem;
    font-style: italic;
}

.page-header {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid cornflowerblue;
}